
body
{
    margin: auto;
    width: 900px;
    background-image: url("../Img/fond.jpg") ;
    background-repeat: no-repeat ;
    background-color: aquamarine ;
    background-position: center ;


}


h1,h2 {
    color:red;
    text-align: center;
}
h1  {
     font-size: 36px;
}
h2  {
    color: yellowgreen;
    font-size: 24px;
}
a:link  {
    color:aqua;
}
p  {
    font-size: 14px;
    text-align: justify;
}
